<!DOCTYPE html>
<html>
  <head>
    <title>You got an issue, punk?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= current_user.name %>
      <a href="/logout">Logout</a>
      <%= yield %>
    <% else %>
      <a href="/auth/github">Login to Github</a>
    <% end %>
  </body>
</html>
